<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head-common}"></head>
<body>
<!-- 헤더 포함 -->
<div th:replace="~{header :: top-banner}"></div>

<div class="error-container">
    <div class="error-content client-error">
        <h1 th:text="#{error.4xx.title}">Client Error</h1>
        <div class="error-code" th:text="${status}">4xx</div>
        <div th:text="#{error.4xx.content}">Client Error</div>
        <p class="error-message" th:text="'Message: ' + ${message}">Error message details</p>

        <!-- 홈으로 돌아가기 버튼 -->
        <div class="error-actions">
            <a th:href="@{/}" class="btn">Return to Home</a>
        </div>
    </div>
</div>

<!-- 푸터 포함 -->
<div th:replace="~{footer :: footer}"></div>
</body>
</html>
