<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/common/header :: head-common}"></head>
<body>
<!-- 헤더 포함 -->
<div th:replace="~{/common/header :: top-banner}"></div>

<div class="error-container">
    <div class="error-content server-error">
        <h1 th:text="${status}">5xx</h1>
        <div th:text="${message}">서버 오류</div>
        <!-- 홈으로 돌아가기 버튼 -->
        <div class="error-actions">
            <a th:href="@{/}" class="btn btn-primary">홈으로</a>
        </div>
    </div>
</div>

<!-- 푸터 포함 -->
<div th:replace="~{/common/footer :: footer}"></div>
</body>
</html>
